---
name: candidates
url: /candidates.html
---

        <h1>Candidates</h1>
        <p class="lead">This is <strong>some test text</strong>.</p>
        <p>Someday I will be a Campaign Finance transparency tool for Philadelphians!</p>
    <!-- BEGIN CANDIDATE LIST --> 
    <div class="grid-block small-up-1 medium-up-3" >
        <div class="card alert-card">
            <img src="http://placekitten.com/g/400/200">
                <div class="card-divider">
                    <p class="cand-office-name">Office Name</p>
                    <p class="cand-total-raised">Total Raised: {{ candidate.totalRaised | currency : '$' :0 }}
</p>
                    <p class="cand-number-contrib">Number of Itemized Contributions: {{ candidate.numberOfContributions }}</p>
                </div>
                <div class="card-section">
                    <h4>{{ candidate.firstName + ' ' + candidate.lastName }}</h4>
                    <p class="Total: ${{}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
        </div>
        <div class="card grid-content">
            <img src="http://placekitten.com/g/400/200">
                <div class="card-divider">
                    <p class="cand-office-name">Office Name</p>
                    <p class="cand-total-raised">Total Raised: {{ candidate.totalRaised | currency : '$' :0 }}
</p>
                    <p class="cand-number-contrib">Number of Itemized Contributions: {{ candidate.numberOfContributions }}</p>
                </div>
                <div class="card-section">
                    <h4>{{ candidate.firstName + ' ' + candidate.lastName }}</h4>
                    <p class="Total: ${{}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
        </div>
        <div class="card grid-content">
            <img src="http://placekitten.com/g/400/200">
                <div class="card-divider">
                    <p class="cand-office-name">Office Name</p>
                    <p class="cand-total-raised">Total Raised: {{ candidate.totalRaised | currency : '$' :0 }}
</p>
                    <p class="cand-number-contrib">Number of Itemized Contributions: {{ candidate.numberOfContributions }}</p>
                </div>
                <div class="card-section">
                    <h4>{{ candidate.firstName + ' ' + candidate.lastName }}</h4>
                    <p class="Total: ${{}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
        </div>
        <div class="card grid-content">
            <img src="http://placekitten.com/g/400/200">
                <div class="card-divider">
                    <p class="cand-office-name">Office Name</p>
                    <p class="cand-total-raised">Total Raised: {{ candidate.totalRaised | currency : '$' :0 }}
</p>
                    <p class="cand-number-contrib">Number of Itemized Contributions: {{ candidate.numberOfContributions }}</p>
                </div>
                <div class="card-section">
                    <h4>{{ candidate.firstName + ' ' + candidate.lastName }}</h4>
                    <p class="Total: ${{}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
        </div>
    </div>
    