---
name: home
url: /
---

<h1>Campaign Finance PHL</h1>
<p class="lead">Election Day is <strong>May 16, 2015</strong>.</p>
<p>This application follows campaign finance filings for the following offices:</p>
<p class="offices-desc">
    <ul>
        <li>Mayor    <span class="badge">6</span></li>
        <li>City Council    <span class="badge">15</span></li>
        <li>Sheriff    <span class="badge">3</span></li>
        <li>City Commissioner    <span class="badge">4</span></li>
            
    </ul>
</p>