<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <base href="/">
	<title>Campaign Finance PHL</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="CFPApp" >
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Campaign Finance PHL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Default</a></li>
            <li><a href="#">Static top</a></li>
            <li class="active"><a href="#">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<div class="container">

		<div ui-view></div>

  </div> <!-- /container -->

	<!-- the js -->
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
	<!--<script src="lib/angular-route/angular-route.js"></script> -->
	<script src="lib/angular-resource/angular-resource.js"></script>
	<script src="js/cfp-app.js"></script>

</body>
</html>